@media (max-width: 1024px) {




	.logo-btn{
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 20;
		background-color: #ffffff;
		margin-bottom: 5px;
		padding: 0 50px;
	}


	.nav {
		display: block;
	}

	.navigation {
		transform: translateY(-190%);
		transition: transform 1s ease;
		position: absolute;
		width: 100%;
		background-color: #ffffff;
		box-shadow: 0 0 5px rgba(232, 191, 93, 1);
		z-index: 2;
	}

	.nav.active .navigation {
		transform: translateY(0);
	}
	
	#nav-opener {
		display: block;
		
	}

	.nav-bar {
		padding-left: 0;
		display: block;
		margin: 0;
	}

	.nav-bar li {
		text-align: center;
	}

	.nav-bar a {
		width: 100%;
	}

	.nav-bar a:hover {
		box-shadow: 0 0 5px rgba(232, 191, 93, 1);
	}


	.adam-photo { 
		display: block;
		max-width: 700px;
	}

	.advocat-btn {
		margin-top: 60px;
	}

	.indoor-box {
		max-width: 700px;
	}

	.info { 
		
	}

	.info>div {
		width: 50%;
	}

	.history-text .date{
		width: 100%;
	}

	.practice-text>div {
		width: 100%;
	}

	.attorney article{
		width: 50%;
	}

	.alon {
		flex-wrap: wrap;
	}

	.coment article{
		width: 100%; 
	}

	.asked-questions>div {
		width: 100%;
	}

	.form-contact div {
		width: 100%;
	}
	
	footer .footer-header {
		padding: 0 50px;
	}

	.photo-alon {
		margin-bottom: 50px;
	}

	.coment article {
		padding-right: 0;
	}

	.none {
		display: block;
	}

	.btn-publication {
		display: block;
	}
	
	.date-coment {
		padding-left: 450px;
	}

	.text-questions {
		margin-top: 50px;
	}

	.asked-questions>div {
		width: 100%;
		padding-right: 0;
	}

	.forms {
		padding-right: 0;
	}

	#btn {
		transform: translateX(-50%);
		margin-left: 50%;
	}

	.map {
		margin-top: 50px;
		max-height: 300px;
	}

	.text-questions {
		padding: 20px;
		position: relative;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
	}



	.text-questions.bogos, .text-questions.pogos, .text-questions.dogos, .text-questions.kogos, .text-questions.rogos {
		margin-top: 0;
		padding: 20px;
	}

}







@media (max-width: 767px){
	
	.indoor-box {
		max-width: 400px;
	}


	.info { 
		flex-wrap: wrap;
		width: 100%;
	}

	.info>div {
		width: 100%;
	}
	
	.practice-area p, .about-us p {
		font-size: 14px;
	}

	.btn-publication {
		margin-left: 40%;
	}

	.date-coment {
		padding-left: 150px;
	}

	.name-advocat h1 {
		font-size: 50px;
	}

}



@media (max-width: 420px){
	.indoor-box {
		max-width: 300px;
	}

	.practice-area h2, .about-us h2 {
		margin-bottom: 0;
	}

	.practice-area p, .about-us p {
		font-size: 10px;
		margin-top: 0;
	}

	.photo-alon img {
		max-width: 250px;
	}

	.quote {
		font-size: 10px;
	}

	.product p {
		font-size: 10px;
	}

	.history-text {
		flex-wrap: wrap;
	}

	footer .footer-header {
		flex-wrap: wrap;
	}

	.attorney h3 {
		font-size: 15px; 
	}

	.attorney p {
		font-size: 10px; 
	}

	.btn-publication {
		margin-left: 30%;
	}

	.date-coment {
		padding-left: 50px;
	}

	.questions h3 {
		font-size: 10px;
	}

	.text-questions p{
		font-size: 10px;
	}
	
	#btn {
		padding: 10px;
		font-size: 10px;
	}

	.forms input, .forms textarea {
		font-size: 10px;
		padding-top: 10px;
	}

	.name-advocat {
		margin-left: 20px;
	}

	.name-advocat h1 {
		font-size: 40px;
	}

	.name-advocat p {
		font-size: 20px;
	}

	.button-advocat {
		transform: translateX(-10%);
		margin-left: 10%;
	}


	.about-us:before, .practice-area:before {
		font-size: 160px;
	}

	

}

@media (max-width: 350px) {
	footer .footer-header {
		justify-content: center;
	}

	.name-advocat h1 {
		font-size: 35px;
	}
}