* {
	box-sizing: border-box;
}

body {
	font-family: 'Arial', serif;
	background-color: #ffffff;
	margin: 0;
	max-width: 100%;
}



header {
	background-color: #ffffff;
}

.footer-header {
	max-width: 1100px;
	margin: 0 auto;
}


.nav {
	display: flex;
	justify-content: space-between;
}

.logo {
	color: #111111;
	font-family: "Playfair Display";
	font-size: 25px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: color .4s ease;
	text-decoration: none;
}

.logo:hover {
	color: #e8bf5d;
}

#nav-opener {
	display: none;
  	color: #111111;
  	background: none;
  	border: none;
  	transition: color .4s ease;
  	outline: none;
  	font-size: 20px;
}

#nav-opener:hover {
	color: #e8bf5d;
}



.nav-bar {
  	list-style: none;
	display: flex;

}

.nav-bar a {
	border-bottom: none;
	border-top: none;
	padding: 0 20px;
	display: inline-block;
	color: #111111;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 45px;
	text-transform: uppercase;
	letter-spacing: 0.56px;
	text-decoration: none;
	transition: box-shadow .4s ease;
}

.nav-bar a:hover {
	box-shadow: 0 5px 0 rgba(232, 191, 93, 1);
}







.block-one {
	background-color: #111111;
	
}

.ops {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.adam-photo {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 35%;
	padding-bottom: 8%;
}

.name-advocat {
	color: #ffffff;
	border-left: 2px solid  #e8bf5d;
	padding-left: 18px;
	max-height: 110px;
}

.name-advocat h1 {
	font-family: "Playfair Display";
	font-size: 65px;
	font-weight: 400;
	letter-spacing: 2.6px;
	line-height: 45px;
	margin: 0;
}

.name-advocat p {
	font-family: "Open Sans";
	font-size: 31px;
	letter-spacing: 1.24px;
}

.button-advocat {
	background-color: #e8bf5d;
	border: none;
	border-radius: 47px;
	padding: 20px 60px;
	color: #111111;
	text-decoration: none;
	font-family: "Playfair Display";
	font-size: 16px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.64px;
	margin-top: 5%;
	transition: background-color .4s ease;
	outline: none;
}

.button-advocat:hover {
	background-color: #999999;
}






.indoor-box {
	max-width: 1020px;
	margin: 0 auto;
	padding: 70px 0;
}

.info {
	width: 100%;
	display: flex;
	padding-top: 50px;
}

.about-us {
	border-left: 2px solid  #e8bf5d;
	padding-left: 18px;
	max-height: 125px;
	max-width: 800px;

}

.about-us h2 {
	color: #111111;
	font-family: "Playfair Display";
	font-size: 31px;
	font-weight: 400;
	line-height: 44.84px;
	letter-spacing: 1.24px;
}

.about-us p {
	color: #666666;
	font-family: "Playfair Display";
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 0.84px;
}


.info>div {
	width: 50%;
}
	

.info h3 {
	color: #111111;
	font-family: "Playfair Display";
	font-size: 21px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.84px;
}

.history, .expertise {
	margin-right: 50px;
}

.history-text{
	display: flex;
}

.date {
	width: 30%;
	color: #111111;
	font-family: "Open Sans";
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.84px;
	}


.text {
	color: #111111;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.64px;
}

.expertise p {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.56px;
}
 




.block-thrie {
	background: #111111;
}


.practice-area {
	border-left: 2px solid  #e8bf5d;
	padding-left: 18px;
	max-height: 125px;
	max-width: 800px;
}

.practice-area h2 {
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 31px;
	font-weight: 400;
	line-height: 44.84px;
	letter-spacing: 1.24px;
}

.practice-area p {
	color: #666666;
	font-family: "Playfair Display";
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 0.84px;
}

.practice-text {
	display: flex;
	flex-wrap: wrap;
	padding-top: 70px;
}

.practice-text>div {
	width: 50%;
}

.product {
	display: flex;
	
}

.product-text {
	margin-left: 50px;
}

.product-text-first {
	margin-left: 30px;
}

.product i {
	color: #e8bf5d;
	font-size: 60px;
}

.practice-text h3 {
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 21px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.84px;
	
}

.practice-text p {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.56px;
	line-height: 25px;
	letter-spacing: 0.56px;
	line-height: 31px;
}





.attorney {
	display: flex;	
	flex-wrap: wrap;
}

.attorney article {
	width: 25%;
	padding-top: 70px;
	padding-right: 30px;
	transition: transform .9s ease;
}

.attorney article:hover {
	transform: scale(1.1);
}

.attorney h3 {
	color: #111111;
	font-family: "Playfair Display";
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 0.84px;
	line-height: 31px;
}

.attorney p {
	font-family: "Open Sans";
	letter-spacing: 0.56px;
	line-height: 24px;
	color: #666666;
	font-size: 14px;
	font-weight: 400;
}







.alon {
	display: flex;
	padding-top: 70px;
}


.photo-alon img {
	box-shadow: 20px 20px 0 rgba(232, 191, 93, 1);
}

.text-alon {
	display: flex;
	padding-left: 50px;
}

.text-alon i {
	color: #ffffff;
	font-size: 30px;
}

.quote {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.56px;
	padding-left: 20px;
}

.advocatus-alon {
	padding-left: 100px;
}

.advocatus-alon a {
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 0.84px;
	line-height: 31px;
	transition: color .4s ease;

}

.advocatus-alon a:hover {
	color: #e8bf5d;
}

.advocatus-alon p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans";
	letter-spacing: 0.56px;
	line-height: 24px;
}

.btn-alon {
	margin-left: 40%;
	padding-top: 50px;
}

.dot {
	background: none;
	border: none;
	outline: none;
	padding: 0 5px;
}

.dot i{
	color: #ffffff;
	transition: color .4s ease;
}

.dot i:hover {
	color: #e8bf5d;
}







.coment {
	display: flex;
	flex-wrap: wrap;
}

.coment article{
	width: 33.33%;
	padding-top: 70px;
	padding-bottom: 20px;
	padding-right: 29px;
}

article img {
	width: 100%;
}

.our-attorney h3 {
	font-family: "Playfair Display";
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 0.84px;
	line-height: 31px;
	margin-bottom: 0;
}

.id-spicer {
	display: flex;
}

.by, .date-coment {
	color: #666666;
	font-family: "Open Sans";
	font-style: italic;
	letter-spacing: 0.64px;
	line-height: 15px;
}

.name-spicer {
	font-family: "Open Sans";
	letter-spacing: 0.64px;
	line-height: 15px;
	padding-left: 5px
}

.date-coment {
	padding-left: 70px;
}

.lorem p {
	color: #666666;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.56px;
}

.icon {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #e8bf5d;
	padding-bottom: 20px;
}

.icon a {
	text-decoration: none;
	color: #111111;
	transition: color .4s ease;
}

.icon a:hover {
	color: #e8bf5d;
}

.btn-publication {
	width: 100%;
	margin-left: 45%;
	padding-top: 50px;
	display: none;
}

.btn-publication i {
	color: #111111;
	transition: color .4s ease;
}

.btn-publication i:hover {
	color: #e8bf5d;
}








.section-six {
	background-color: #111111;
}

.asked-questions {
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0;
}

.asked-questions>div {
	width: 50%;
	padding-right: 30px;
}

.questions {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e8bf5d;
}

.questions h3 {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0.56px;
}


.questions button {
	border: none;
	background: none;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	transition: color .4s ease;
	outline: none;
} 

.questions button:hover {
	color: #e8bf5d;
}

.text-questions {
	display: none;
	background-color: #e8bf5d;
	padding: 60px 50px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(232, 191, 93, 1);
	position: absolute;
	margin-left: 50%;
	margin-top: -35px;
	width: 50%;
	max-height: 45%;

}

.text-questions p {
	color: #111111;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.56px;

}

.artic-questions.active .questions h3, .artic-questions.active .bttn {
	color: #e8bf5d;
}

.artic-questions.active .text-questions {
	display: block;
}

.text-questions.bogos {
	margin-top: -95px;
	
}
.text-questions.pogos {
	margin-top: -155px;
	
}
.text-questions.dogos {
	margin-top: -215px;
	
}
.text-questions.kogos {
	margin-top: -275px;
	
}
.text-questions.rogos {
	margin-top: -335px;
	
}

.section-six>div {
	position: relative;
}








.form-contact {
	max-width: 870px;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	margin-top: 70px;
}

.form-contact div {
	width: 50%;
}

.forms {
	padding-right: 50px;
}

.forms>form>input, #btn {
	display: block;
	outline: none;
}

.forms>form>input, .forms textarea {
	border: none;
	border-bottom: 1px solid #b9b9b9;
	width: 100%;
	padding-top: 20px;
	color: #b9b9b9;
	font-family: "Open Sans";
	font-size: 14px;
	font-style: italic;
	line-height: 31px;
	letter-spacing: 0.56px;
	outline: none;
}

.forms>form>input {
	padding-bottom: 10px;
}

.forms textarea {
	padding-bottom: 30px;
}

#btn {
	margin-top: 50px;
	background-color: #e8bf5d;
	border: none;
	border-radius: 47px;
	padding: 13px 47px;
	color: #111111;
	font-family: "Playfair Display";
	font-size: 16px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.64px;
	transition: background-color .4s ease;
}

#btn:hover {
	background-color: #999999;
}

.map {
	width: 100%;
	box-shadow: -20px 20px 0px rgba(232, 191, 93, 1);
}

.map iframe {
	width: 100%;
	height: 100%;
	border:none;
}








footer {
	background-color: #111111;

}


footer .footer-header {
	min-height: 70px;
	display: flex;
 	justify-content: space-between;
}

.logo-symu a, .socials a{
 	text-decoration: none;
 	
}

.logo-symu p{
	display: inline-block;
}

.copi {
	color: #b5b5b5;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 45px;
}


.symu {
	color: #ffffff;
	font-family: "Open Sans";
	transition: color .4s ease;
}

.socials p {
	margin-top: 30%;
}
.socials a {
	color: #fbfbfb;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	margin-left: 5px;
	transition: color .4s ease;
}

.socials a:hover, .symu:hover {
	color: #e8bf5d;
}







.about-us:before {
	content: "01";
	margin-top: -70px;
	position: absolute;
	color: #111111;
	font-family: "Open Sans";
	font-size: 195px;
	opacity: 0.1;
	margin-left: -25px;
}

.practice-area:before {
	content: "02";
	margin-top: -70px;
	position: absolute;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 195px;
	opacity: 0.1;
	margin-left: -25px;
} 

.block-four .about-us:before {
	content: "03";
}

.section-four .practice-area:before {
	content: "04";
	
} 
.section-five .about-us:before {
	content: "05";
}

.section-six .practice-area:before {
	content: "06";
} 

.section-seven .about-us:before {
	content: "07";
}



.slider {
	position: relative;
}



.fade {
	-webkit-animation-name: fade;
	animation-name: fade; 
	-webkit-animation-duration: 2s;
	animation-duration: 2s; 
}

@-webkit-keyframes fade {
	from{opacity: .2}
	to{opacity: 1}
}

@keyframes fade {
	from{opacity: .2}
	to{opacity: 1}
}

.active, dot:hover {
	font-size: 20px; 
} 
